In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
dataset = pd.read_csv("koreanTV.csv")

In [5]:
dataset.head()

,Title,Year,Rating,Votes:,Time,Genre,Stars,Short Story
0,Hellbound,(2021– ),6.7,"14,032",150 min,"Crime, Drama, Fantasy","Yoo Ah-in, Kim Hyun-joo, Jeong Min Park, Jin-a...",\nPeople hear predictions on when they will di...
1,Squid Game,(2021– ),8.1,"339,931",55 min,"Action, Drama, Mystery","Lee Jung-jae, Park Hae-soo, Wi Ha-Joon, Jung H...",\nHundreds of cash-strapped players accept a s...
2,My Name,(2021– ),7.9,"12,877",50 min,"Action, Crime, Drama","Hee-soon Park, Ahn Bo-Hyun, Han So-hee, Kim Sa...",\nThe story about a woman who joins an organiz...
3,Miraculous: Tales of Ladybug & Cat Noir,(2015– ),7.7,"9,439",20 min,"Animation, Action, Adventure","Cristina Valenzuela, Bryce Papenbrook, Keith S...","\nMarinette and Adrien, two normal teens, tran..."
4,Happiness,(2021– ),8.6,921,-,"Action, Fantasy, Thriller","Han Hyo-joo, Park Hyung-Sik, Woo-jin Jo, Lee J...",\nAn apocalyptic thriller that takes place in ...

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1989 entries, 0 to 1988
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1989 non-null   object
 1   Year         1978 non-null   object
 2   Rating       1989 non-null   object
 3   Votes:       1989 non-null   object
 4   Time         1989 non-null   object
 5   Genre        1989 non-null   object
 6   Stars        1989 non-null   object
 7   Short Story  1989 non-null   object
dtypes: object(8)
memory usage: 124.4+ KB

In [7]:
dataset.isnull().sum()

Title           0
Year           11
Rating          0
Votes:          0
Time            0
Genre           0
Stars           0
Short Story     0
dtype: int64

In [8]:
dataset.dropna(inplace=True)

In [9]:
dataset["Title"].duplicated().sum()

14

In [10]:
dataset['Year'] = dataset['Year'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)

In [11]:
dataset

,Title,Year,Rating,Votes:,Time,Genre,Stars,Short Story
0,Hellbound,2021,6.7,"14,032",150 min,"Crime, Drama, Fantasy","Yoo Ah-in, Kim Hyun-joo, Jeong Min Park, Jin-a...",\nPeople hear predictions on when they will di...
1,Squid Game,2021,8.1,"339,931",55 min,"Action, Drama, Mystery","Lee Jung-jae, Park Hae-soo, Wi Ha-Joon, Jung H...",\nHundreds of cash-strapped players accept a s...
2,My Name,2021,7.9,"12,877",50 min,"Action, Crime, Drama","Hee-soon Park, Ahn Bo-Hyun, Han So-hee, Kim Sa...",\nThe story about a woman who joins an organiz...
3,Miraculous: Tales of Ladybug & Cat Noir,2015,7.7,"9,439",20 min,"Animation, Action, Adventure","Cristina Valenzuela, Bryce Papenbrook, Keith S...","\nMarinette and Adrien, two normal teens, tran..."
4,Happiness,2021,8.6,921,-,"Action, Fantasy, Thriller","Han Hyo-joo, Park Hyung-Sik, Woo-jin Jo, Lee J...",\nAn apocalyptic thriller that takes place in ...
...,...,...,...,...,...,...,...,...
1983,Dangsinyeopi joha,2002,-,-,-,Drama,-,\nAdd a Plot\n
1985,Bite Sisters,2021,7.4,5,-,"Fantasy, Romance","Kang Han-na, Kim Yeong-Ah, Yu-hwa Choi, Lee Si...",\nThis story follows Han Yi Na a vampire who s...
1986,Adult Trainee,2021,7.1,10,-,"Comedy, Romance","Mi-Yeon Cho, Ryu Eui-Hyun, Lee Chan Hyung, Yoo...",\nAdd a Plot\n
1987,A good supper,2021,-,-,-,Romance,-,\nAdd a Plot\n
1988,User Not Found,2021,-,-,-,"Drama, Romance",-,\nAdd a Plot\n

In [12]:
dataset=dataset[['Title','Genre','Stars','Short Story']]

In [13]:
dataset

,Title,Genre,Stars,Short Story
0,Hellbound,"Crime, Drama, Fantasy","Yoo Ah-in, Kim Hyun-joo, Jeong Min Park, Jin-a...",\nPeople hear predictions on when they will di...
1,Squid Game,"Action, Drama, Mystery","Lee Jung-jae, Park Hae-soo, Wi Ha-Joon, Jung H...",\nHundreds of cash-strapped players accept a s...
2,My Name,"Action, Crime, Drama","Hee-soon Park, Ahn Bo-Hyun, Han So-hee, Kim Sa...",\nThe story about a woman who joins an organiz...
3,Miraculous: Tales of Ladybug & Cat Noir,"Animation, Action, Adventure","Cristina Valenzuela, Bryce Papenbrook, Keith S...","\nMarinette and Adrien, two normal teens, tran..."
4,Happiness,"Action, Fantasy, Thriller","Han Hyo-joo, Park Hyung-Sik, Woo-jin Jo, Lee J...",\nAn apocalyptic thriller that takes place in ...
...,...,...,...,...
1983,Dangsinyeopi joha,Drama,-,\nAdd a Plot\n
1985,Bite Sisters,"Fantasy, Romance","Kang Han-na, Kim Yeong-Ah, Yu-hwa Choi, Lee Si...",\nThis story follows Han Yi Na a vampire who s...
1986,Adult Trainee,"Comedy, Romance","Mi-Yeon Cho, Ryu Eui-Hyun, Lee Chan Hyung, Yoo...",\nAdd a Plot\n
1987,A good supper,Romance,-,\nAdd a Plot\n
1988,User Not Found,"Drama, Romance",-,\nAdd a Plot\n

In [14]:
dataset['Short Story']=dataset['Short Story'].replace('\n',' ', regex=True)

In [15]:
filt=dataset["Stars"]=="-"
dataset['Stars'][filt]=""

In [16]:
dataset

,Title,Genre,Stars,Short Story
0,Hellbound,"Crime, Drama, Fantasy","Yoo Ah-in, Kim Hyun-joo, Jeong Min Park, Jin-a...",People hear predictions on when they will die...
1,Squid Game,"Action, Drama, Mystery","Lee Jung-jae, Park Hae-soo, Wi Ha-Joon, Jung H...",Hundreds of cash-strapped players accept a st...
2,My Name,"Action, Crime, Drama","Hee-soon Park, Ahn Bo-Hyun, Han So-hee, Kim Sa...",The story about a woman who joins an organize...
3,Miraculous: Tales of Ladybug & Cat Noir,"Animation, Action, Adventure","Cristina Valenzuela, Bryce Papenbrook, Keith S...","Marinette and Adrien, two normal teens, trans..."
4,Happiness,"Action, Fantasy, Thriller","Han Hyo-joo, Park Hyung-Sik, Woo-jin Jo, Lee J...",An apocalyptic thriller that takes place in a...
...,...,...,...,...
1983,Dangsinyeopi joha,Drama,,Add a Plot
1985,Bite Sisters,"Fantasy, Romance","Kang Han-na, Kim Yeong-Ah, Yu-hwa Choi, Lee Si...",This story follows Han Yi Na a vampire who su...
1986,Adult Trainee,"Comedy, Romance","Mi-Yeon Cho, Ryu Eui-Hyun, Lee Chan Hyung, Yoo...",Add a Plot
1987,A good supper,Romance,,Add a Plot
1988,User Not Found,"Drama, Romance",,Add a Plot

In [17]:
filt2=dataset["Short Story"].str.contains("Add")

In [18]:
dataset["Short Story"][filt2]=""

In [19]:
filt3=dataset["Title"].str.contains("User")

In [20]:
dataset.drop(dataset[filt3].index,inplace=True)

In [21]:
dataset

,Title,Genre,Stars,Short Story
0,Hellbound,"Crime, Drama, Fantasy","Yoo Ah-in, Kim Hyun-joo, Jeong Min Park, Jin-a...",People hear predictions on when they will die...
1,Squid Game,"Action, Drama, Mystery","Lee Jung-jae, Park Hae-soo, Wi Ha-Joon, Jung H...",Hundreds of cash-strapped players accept a st...
2,My Name,"Action, Crime, Drama","Hee-soon Park, Ahn Bo-Hyun, Han So-hee, Kim Sa...",The story about a woman who joins an organize...
3,Miraculous: Tales of Ladybug & Cat Noir,"Animation, Action, Adventure","Cristina Valenzuela, Bryce Papenbrook, Keith S...","Marinette and Adrien, two normal teens, trans..."
4,Happiness,"Action, Fantasy, Thriller","Han Hyo-joo, Park Hyung-Sik, Woo-jin Jo, Lee J...",An apocalyptic thriller that takes place in a...
...,...,...,...,...
1982,Why Couldnt You Get Married,Drama,,Marriage is not always a forgone conclusion f...
1983,Dangsinyeopi joha,Drama,,
1985,Bite Sisters,"Fantasy, Romance","Kang Han-na, Kim Yeong-Ah, Yu-hwa Choi, Lee Si...",This story follows Han Yi Na a vampire who su...
1986,Adult Trainee,"Comedy, Romance","Mi-Yeon Cho, Ryu Eui-Hyun, Lee Chan Hyung, Yoo...",
1987,A good supper,Romance,,

In [22]:
dataset["Stars"]=dataset["Stars"].str.split(',')

In [23]:
dataset["Stars"][0]

['Yoo Ah-in', ' Kim Hyun-joo', ' Jeong Min Park', ' Jin-ah Won']

In [24]:
dataset['Stars'] = dataset['Stars'].apply(lambda x:x[0:3])
dataset['Short Story'] =dataset['Short Story'].apply(lambda x:x.split())
dataset['Genre'] =dataset['Genre'].apply(lambda x:x.split(","))

In [25]:
dataset

,Title,Genre,Stars,Short Story
0,Hellbound,"[Crime, Drama, Fantasy]","[Yoo Ah-in, Kim Hyun-joo, Jeong Min Park]","[People, hear, predictions, on, when, they, wi..."
1,Squid Game,"[Action, Drama, Mystery]","[Lee Jung-jae, Park Hae-soo, Wi Ha-Joon]","[Hundreds, of, cash-strapped, players, accept,..."
2,My Name,"[Action, Crime, Drama]","[Hee-soon Park, Ahn Bo-Hyun, Han So-hee]","[The, story, about, a, woman, who, joins, an, ..."
3,Miraculous: Tales of Ladybug & Cat Noir,"[Animation, Action, Adventure]","[Cristina Valenzuela, Bryce Papenbrook, Keit...","[Marinette, and, Adrien,, two, normal, teens,,..."
4,Happiness,"[Action, Fantasy, Thriller]","[Han Hyo-joo, Park Hyung-Sik, Woo-jin Jo]","[An, apocalyptic, thriller, that, takes, place..."
...,...,...,...,...
1982,Why Couldnt You Get Married,[Drama],[],"[Marriage, is, not, always, a, forgone, conclu..."
1983,Dangsinyeopi joha,[Drama],[],[]
1985,Bite Sisters,"[Fantasy, Romance]","[Kang Han-na, Kim Yeong-Ah, Yu-hwa Choi]","[This, story, follows, Han, Yi, Na, a, vampire..."
1986,Adult Trainee,"[Comedy, Romance]","[Mi-Yeon Cho, Ryu Eui-Hyun, Lee Chan Hyung]",[]
1987,A good supper,[Romance],[],[]

In [11]:
#!pip install IMDbPY
import imdb
   
# creating instance of IMDb
ia = imdb.IMDb()
   
# name 
name = "Hellbound"
   
# searching the name 
search = ia.search_movie(name)
print(search[i]['title'] + " : " + id )
  
# loop for printing the name and id
#for i in range(len(search)):
      
 #   # getting the id
  #  id = search[i].movieID   
    # printing it
   # print(search[i]['title'] + " : " + id )

Hellbound : 13072200

In [26]:
dataset["Genre"][0]

['Crime', ' Drama', ' Fantasy']

In [27]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [28]:
dataset['Genre'] = dataset['Genre'].apply(collapse)

In [29]:
dataset['Stars'] = dataset['Stars'].apply(collapse)

In [30]:
dataset.iloc[0]

Title                                                  Hellbound
Genre                                    [Crime, Drama, Fantasy]
Stars                      [YooAh-in, KimHyun-joo, JeongMinPark]
Short Story    [People, hear, predictions, on, when, they, wi...
Name: 0, dtype: object

In [31]:
dataset['tags'] = dataset["Short Story"] + dataset['Genre'] + dataset['Stars']

In [32]:
new=dataset.drop(columns=["Short Story",'Genre','Stars'])

In [33]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,Title,tags
0,Hellbound,People hear predictions on when they will die....
1,Squid Game,Hundreds of cash-strapped players accept a str...
2,My Name,The story about a woman who joins an organized...
3,Miraculous: Tales of Ladybug & Cat Noir,"Marinette and Adrien, two normal teens, transf..."
4,Happiness,An apocalyptic thriller that takes place in a ...

In [34]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [35]:
vector = cv.fit_transform(new['tags']).toarray()

In [36]:
vector.shape

(1977, 5000)

In [37]:
from sklearn.metrics.pairwise import cosine_similarity

In [38]:
similarity = cosine_similarity(vector)

In [39]:
similarity

array([[1.        , 0.04564355, 0.20655911, ..., 0.05634362, 0.        ,
        0.        ],
       [0.04564355, 1.        , 0.07071068, ..., 0.        , 0.        ,
        0.        ],
       [0.20655911, 0.07071068, 1.        , ..., 0.04364358, 0.08164966,
        0.        ],
       ...,
       [0.05634362, 0.        , 0.04364358, ..., 1.        , 0.08908708,
        0.21821789],
       [0.        , 0.        , 0.08164966, ..., 0.08908708, 1.        ,
        0.40824829],
       [0.        , 0.        , 0.        , ..., 0.21821789, 0.40824829,
        1.        ]])

In [40]:
new[new['Title'] == 'Hellbound'].index[0]

0

In [41]:
def recommend(kdrama):
    index = new[new['Title'] == kdrama].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].Title)

In [42]:
recommend('Happiness')

ATM
Jo-kang-ji-cheo Keul-leob
Kairos
Three Days
Street Fighter

In [43]:
import pickle
pickle.dump(new,open('kdramas_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))